/*-------------------*\
cabeçalho da página
\*------------------*/

.layout-cabecalho {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	
	background-color: #fff;
}

	.layout-cabecalho--home {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;

		z-index: 9999; /*ficará a frente de todos os components devido a prioridade do z-index*/

	}

	
	/*.layout-cabecalho img {
		margin-top: 12px;
	}*/
/*fim cabeçalho da página*/



/*----------------------------*\
Início chamada principal
\*----------------------------*/

.layout-chamada {

	padding: 80px 0;
	margin-top: 60px; /*para o layout chamada não ocupar o barra do menu*/
	
	background-color: #7ab55c;
}

/*----------------------------*\
Fim chamada principal
\*----------------------------*/

/*----------------------------*\
Início Depoimento
\*----------------------------*/

.layout-depoimento {
	padding: 80px 0;
	background-color: #e7e7e7;

}
/*----------------------------*\
Fim depoimento
\*----------------------------*/

/* será utilizado bootstrap
.container {

	width: 100%;
	margin:  0  auto;
	padding-right: 50px;
	padding-left: 50px;
	
}
/* fim do cabelhaço*/


/*Planos*/
.layout-planos {
	padding: 80px 0;
}


	.layout__rodape {
		padding: 40px 0;

		background-color: #484848;

		color: #fff;
		text-align: center;
	}

	
/*Assinatura*/
.layout-assinatura {
	  padding: 40px 0;
}



/*  Link Ano Letivo */

.plano__cabecalhaco__link {
	
	padding: 40px 0;
	padding-top: 80px; 

}

/* Vídeo Aulas*/
.layout-videoAulas {

	   border-top: 1px solid #fff;

		padding: 40px 0;
		margin-top: -10px;

	
		background-color: #9C7178;

}

/* Plano Noticias*/
.layout-noticias {

	border-top: 1px solid #fff;

	margin-top: -90px;
	padding: 40px 0;

	background-color: #dadada;	

	 border-bottom: 50px solid #fff;

}

/*
.layout-planos::after {
content: "";
display: block;
clear: both;
}*/
